<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Brands</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <a href="brands/add" type="button" class="btn btn-sm btn-outline-secondary">Add</a>
        <a type="button" class="btn btn-sm btn-outline-secondary">Export</a>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          User
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="login">Login</a></li>
          <li><a class="dropdown-item" href="register">Register</a></li>
          <li><a class="dropdown-item" href="logout">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>

   <div class="mb-3">
    <label for="filterText" class="form-label">Search Brand</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="search">
  </div>
  <div>
{{filterText}}
  </div>

   <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <h2 *ngIf="dataLoaded==true">Brand List</h2>
  <div class="table-responsive">
    <table *ngIf="dataLoaded==true" class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Summary</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let brand of brands | filterBrandPipe:filterText">
          <td>{{brand.id}}</td>
          <td>{{brand.title}}</td>
          <td>{{brand.summary}}</td>
          <td>{{brand.description}}</td>
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button (click)="delete(brand)" type="button" class="btn btn-danger">Delete</button>
            <button (click)="update(brand)" type="button" class="btn btn-success">Update</button>
          </div>
        </tr>


       </tbody>
    </table>
  </div>
</main>
