<div class="container">
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="assets/img/coca_cola.png" alt="" width="72" height="57">
      <h2>Add Address</h2>
    </div>

    <div class="row g-5 all" >
      <div class="col-md-7 col-lg-9 all1">
        <h4 class="mb-3 text-center">Billing address</h4>

        <form [formGroup]="addressAddForm" class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">First Name</label>
              <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="middleName" class="form-label">Middle Name</label>
              <input type="text" class="form-control" id="middleName" formControlName="middleName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid middle name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="mobile" class="form-label">Mobile Number</label>
              <input type="text" class="form-control" id="mobile" formControlName="mobile" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid mobile number is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="orderId" class="form-label">Order Id</label>
              <input type="number" class="form-control" id="orderId"
              formControlName="orderId" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid middle name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="userId" class="form-label">User Id</label>
              <input type="number" class="form-control" id="userId"
              formControlName="userId" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid mobile number is required.
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email <span class="text-muted"></span></label>
              <input type="email" class="form-control" id="email" formControlName="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-12">
              <label for="line1" class="form-label">Address</label>
              <input type="text" class="form-control" id="line1"
              formControlName="line1" placeholder="1234 Main St" required>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="col-12">
              <label for="line2" class="form-label">Address 2 <span class="text-muted"></span></label>
              <input type="text" class="form-control" id="line2" formControlName="line2" placeholder="Apartment or suite">
            </div>

            <div class="col-md-4">
              <label for="country" class="form-label">Country</label>
              <select class="form-select" id="country" formControlName="country" required>
                <option value="">Choose...</option>
                <option>United States</option>
                <option>Turkey</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

            <div class="col-md-4">
              <label for="province" class="form-label">Province</label>
              <select class="form-select" id="province" formControlName="province" required>
                <option value="">Choose...</option>
                <option>California</option>
                <option>Mediterrenian</option>
                <option>Marmara</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

            <div class="col-md-4">
              <label for="city" class="form-label">City</label>
              <select class="form-select" id="city" formControlName="city" required>
                <option value="">Choose...</option>
                <option>Istanbul</option>
                <option>Kocaeli</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>
          </div>

          <hr class="my-4">
          <button class="w-100 btn btn-primary btn-lg" type="submit" (click)="add()">Continue to checkout</button>
          <hr class="my-4">
          <hr class="my-4">
        </form>
      </div>
    </div>
  </main>
</div>
