<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Orders</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <a href="orders/add" type="button" class="btn btn-sm btn-outline-secondary">Add Order</a>

      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="filterText" class="form-label">Search Order</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="search">
  </div>
  <div>
    {{filterText}}
  </div>

  <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <h2 *ngIf="dataLoaded==true">Order List</h2>
  <div class="table-responsive">
    <table *ngIf="dataLoaded==true" class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">UserId</th>
          <th scope="col">Type</th>
          <th scope="col">Status</th>
          <th scope="col">SubTotal</th>
          <th scope="col">ItemDiscount</th>
          <th scope="col">Tax</th>
          <th scope="col">Shipping</th>
          <th scope="col">Total</th>
          <th scope="col">Promo</th>
          <th scope="col">Discount</th>
          <th scope="col">GrandTotal</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders | filterOrderPipe:filterText">
          <td>{{order.id}}</td>
          <td>{{order.userId}}</td>
          <td>{{order.type}}</td>
          <td>{{order.status}}</td>
          <td>{{order.subTotal}}</td>
          <td>{{order.itemDiscount}}</td>
          <td>{{order.tax}}</td>
          <td>{{order.shipping}}</td>
          <td>{{order.total}}</td>
          <td>{{order.promo}}</td>
          <td>{{order.discount}}</td>
          <td>{{order.grandTotal}}</td>
          <td>{{order.description}}</td>
          <div *ngIf="isAuthenticated()==true" class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button (click)="delete(order)" type="button" class="btn btn-danger">Delete</button>
            <button (click)="update(order)" type="button" class="btn btn-success">Update</button>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</main>
